<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Onside.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>OnsideWatch Watch App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>OnsideWidgetExtensionExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F4DC09332F5DFC630081712B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4DC093F2F5DFC640081712B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4DC09492F5DFC640081712B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4EC42A52F36311500A8AE17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4EC42B22F36311700A8AE17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4EC42BC2F36311700A8AE17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
